### 1. **`groupby()` ve `agg()`**
Bu iki metod genellikle birlikte kullanılır ama farklı işlevleri vardır. Gruplama işlemleriyle ilgilidirler.

#### **`groupby()`**
- **Ne yapar?** Veriyi belirli bir sütuna (veya sütunlara) göre gruplara ayırır. Mesela, bir satış tablon varsa ve her şehirdeki satışları ayrı ayrı incelemek istiyorsan, şehirlere göre gruplama yaparsın.
- **Nasıl çalışır?** Gruplama yaptıktan sonra, her grup üzerinde bir işlem (toplama, ortalama alma gibi) yapman gerekir. `groupby()` tek başına bir sonuç vermez, sadece veriyi gruplar.
- **Kullanımı:**
  ```python
  import pandas as pd

  df = pd.DataFrame({
      'Şehir': ['Ankara', 'İstanbul', 'Ankara', 'İzmir'],
      'Satış': [100, 200, 150, 300]
  })

  gruplar = df.groupby('Şehir')
  print(gruplar.sum())  # Her şehirdeki toplam satış
  ```
- **Ne zaman kullanılır?** Veriyi kategorilere ayırıp her kategori için bir özet bilgi (toplam, ortalama vb.) almak istediğinde.

In [8]:
import pandas as pd 
df = pd.DataFrame({
    "Şehir" : ["Ankara", "İzmir", "İstanbul", "Ankara"],
    "Satış": [100, 200, 150, 300]
})

df.groupby("Şehir").sum()

          Satış
Şehir
Ankara      400
İstanbul    150
İzmir       200

#### **`agg()`**
- **Ne yapar?** `groupby()` ile grupladıktan sonra, gruplar üzerinde birden fazla işlem (örneğin hem toplam hem ortalama) yapmak için kullanılır. `agg()` (aggregate’in kısaltması), toplama işlemini özelleştirir.
- **Nasıl çalışır?** `groupby()`’dan sonra gelir ve hangi fonksiyonların uygulanacağını belirtirsin.
- **Kullanımı:**
  ```python
  sonuc = df.groupby('Şehir').agg({'Satış': ['sum', 'mean']})
  print(sonuc)
  ```
  Çıktı:
  ```
            Satış      
              sum  mean
  Şehir               
  Ankara      250   125
  İstanbul    200   200
  İzmir       300   300
  ```
- **Ne zaman kullanılır?** Gruplar üzerinde birden fazla özet hesaplama yapman gerektiğinde veya özel bir fonksiyon uygulamak istediğinde.

In [7]:
df.groupby("Şehir").agg({"Satış": ["sum", "mean"]})

         Satış
           sum   mean
Şehir
Ankara     400  200.0
İstanbul   150  150.0
İzmir      200  200.0


#### **Aralarındaki fark:**
- `groupby()` gruplamayı yapar, ama işlem belirtmezsen bir şey hesaplamaz.
- `agg()` ise bu gruplar üzerinde ne yapacağını (toplam, ortalama, vb.) söyler.
- **Birlikte kullanım:** Genelde `df.groupby('sütun').agg(fonksiyon)` şeklinde birleşirler.

#### **Hangisini ne zaman kullanmalısın?**
- Sadece basit bir toplama, ortalama gibi tek bir işlem yapacaksan `groupby()`’dan sonra direkt `sum()`, `mean()` gibi metodları kullanabilirsin.
- Birden fazla işlem (örneğin hem toplam hem ortalama) veya özel bir fonksiyon (kendi yazdığın bir hesaplama) gerekiyorsa `agg()` tercih et.

### 2. **`merge()` ve `concat()`**
Bu iki metod birleştirme ile ilgilidir, ama birleştirme şekilleri farklıdır.

#### **`concat()`**
- **Ne yapar?** Veri çerçevelerini (DataFrame) veya serileri (Series) yan yana (yatay) veya alt alta (dikey) birleştirir. Yani birleştirme "fiziksel" bir ekleme gibidir.
- **Nasıl çalışır?** Sütun isimlerine veya indekslere bakarak veriyi birleştirir, ama sütunlar arasında bir mantıksal ilişki kurmaz.
- **Kullanımı:**
  ```python
  df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
  df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

  # Dikey birleştirme (alt alta)
  sonuc = pd.concat([df1, df2])
  print(sonuc)
  ```
  Çıktı:
  ```
     A  B
  0  1  3
  1  2  4
  0  5  7
  1  6  8
  ```
  ```python
  # Yatay birleştirme (yan yana)
  sonuc = pd.concat([df1, df2], axis=1)
  print(sonuc)
  ```
  Çıktı:
  ```
     A  B  A  B
  0  1  3  5  7
  1  2  4  6  8
  ```
- **Ne zaman kullanılır?** Aynı yapıya sahip verileri (örneğin aynı sütun isimleri) birleştirmek istediğinde. Mesela, farklı ayların satış verilerini alt alta eklemek gibi.

In [12]:
df1 = pd.DataFrame({"A": [1,2], "B": [3,4]})
df2 = pd.DataFrame({"A": [5,6], "B": [7,8]})

# Dikey birleştirme
pd.concat([df1, df2]).reset_index()

   index  A  B
0      0  1  3
1      1  2  4
2      0  5  7
3      1  6  8

In [15]:
# Yatay birleştirme
pd.concat([df1, df2], axis=1)

   A  B  A  B
0  1  3  5  7
1  2  4  6  8

#### **`merge()`**
- **Ne yapar?** Verileri bir anahtar sütuna (key) göre birleştirir. SQL’deki `JOIN` işlemine benzer. Yani birleştirme mantıksal bir ilişkiye dayanır.
- **Nasıl çalışır?** İki veri çerçevesini ortak bir sütuna (veya sütunlara) göre eşleştirir. `inner`, `left`, `right`, `outer` gibi birleştirme türlerini destekler.
- **Kullanımı:**
  ```python
  df1 = pd.DataFrame({'ID': [1, 2, 3], 'İsim': ['Ali', 'Veli', 'Ayşe']})
  df2 = pd.DataFrame({'ID': [2, 3, 4], 'Yaş': [25, 30, 35]})

  sonuc = pd.merge(df1, df2, on='ID', how='inner')  # Sadece eşleşenler
  print(sonuc)
  ```
  Çıktı:
  ```
     ID  İsim  Yaş
  0   2  Veli   25
  1   3  Ayşe   30
  ```
- **Ne zaman kullanılır?** Farklı veri çerçevelerinde ortak bir sütun (örneğin ID) üzerinden anlamlı bir birleştirme yapmak istediğinde. Mesela, müşteri bilgilerini ve sipariş bilgilerini ID’ye göre birleştirmek gibi.

In [17]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'İsim': ['Ali', 'Veli', 'Ayşe']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Yaş': [25, 30, 35]})

pd.merge(df1, df2, on="ID", how="inner")

   ID  İsim  Yaş
0   2  Veli   25
1   3  Ayşe   30

#### **Aralarındaki fark:**
- `concat()` basit bir ekleme yapar (yapıştırma gibi), sütunlar arasındaki ilişkiyi umursamaz.
- `merge()` ise bir anahtar sütuna göre verileri eşleştirir ve mantıksal bir birleşim sağlar.
- **`concat()` yatay/dikey birleştirme** için, **`merge()` ilişkisel birleştirme** içindir.

#### **Hangisini ne zaman kullanmalısın?**
- Eğer veriler aynı yapıda (aynı sütunlar) ve sadece alt alta/yan yana eklemek istiyorsan → `concat()`.
- Eğer veriler farklı yapılarda ama ortak bir sütun (örneğin ID, isim) üzerinden birleştirmek istiyorsan → `merge()`.

---

### Özet Tablo
| **Metod**    | **Amaç**             | **Ne Zaman Kullanılır?**                          |
|---------------|----------------------|-------------------------------------------------|
| `groupby()`   | Gruplama            | Veriyi kategorilere ayırıp özet almak           |
| `agg()`       | Gruplarda hesaplama | Gruplar üzerinde birden fazla/spesifik işlem    |
| `concat()`    | Fiziksel birleştirme| Aynı yapıda verileri alt alta/yan yana eklemek  |
| `merge()`     | Mantıksal birleştirme| Ortak sütuna göre verileri ilişkilendirmek     |

---

### Pratik Örneklerle Karar Verme
1. **Sorun:** Elimde şehir bazında satışlar var, her şehirdeki toplam ve ortalama satışları bulmak istiyorum.
   - **Çözüm:** `groupby('Şehir').agg({'Satış': ['sum', 'mean']})`

2. **Sorun:** İki farklı dosyadan gelen satış verilerini alt alta eklemek istiyorum.
   - **Çözüm:** `pd.concat([df1, df2])`

3. **Sorun:** Müşteri isimlerinin olduğu bir tablo ile siparişlerin olduğu bir tabloyu ID’ye göre birleştirmek istiyorum.
   - **Çözüm:** `pd.merge(df_musteriler, df_siparisler, on='ID')`